<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssd.modelrenderer3d">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ssd.modelrenderer3d.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ssd.modelrenderer3d.MenuActivity"
            android:label="@string/menu"
            android:parentActivityName="com.ssd.modelrenderer3d.MainActivity">

        </activity>
        <activity android:name="com.ssd.modelrenderer3d.LoadModelActivity" />
        <activity android:name="com.ssd.modelrenderer3d.LoadShapeActivity" />

        <activity
            android:name="com.ssd.modelrenderer3d.InfoActivity"
            android:label="@string/title_activity_text"
            android:parentActivityName="com.ssd.modelrenderer3d.MainActivity">

        </activity>
    </application>

</manifest>